.footer_Text {
     font-family: Satoshi;
     font-size: 1.1rem;
     font-weight: 500;
     line-height: 0.1rem;
     letter-spacing: 0em;
     position: relative;
     text-align: center;
     color: #FFFFFF;
     left: 1.1rem;
     word-wrap: break-word;
     overflow-wrap: break-word;
}

.footer_Text_Hr_left {
     visibility: hidden;
}

.footer_Text_Hr_right {
     visibility: hidden;
}

.bottom_text {
     font-family: Satoshi;
     font-size: 1rem;
     font-weight: 300;
     line-height: 0.5rem;
     letter-spacing: 0em;
     color: #FFFFFF
}

.box_shadow {
     position: absolute;
     top: -65px;
     border-radius: 600px;
     border: 6px solid #FAF8FC;
     background: #FFF;
     display: inline-flex;
     padding: 0px 43px;
     flex-direction: column;
     align-items: flex-start;
     left: 50%;
     transform: translateX(-50%);
}

@media only screen and (max-width: 430px) {
     .box_shadow svg {
          width: 232px;
          height: 104px;
     }

     .box_shadow {
          padding: 0px 43px;
          margin-left: 7px;
     }

     .footer_Text_Hr_left {
          visibility: visible;
          color: white;
          margin-left: 6rem;
          position: relative;
          left: 29px;
          top: 96px
     }

     .bottom_text {
          visibility: hidden;
     }

     .footer_Text_Hr_right {
          visibility: visible;
          color: white;
          margin-right: 6rem;
          position: relative;
          left: 5px;
          top: 96px
     }

     .footer_Text {
          font-family: inherit;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
     }

}