* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 2225px;
  overflow-x: hidden;
}

.row>* {
  padding: 0 !important;
}


::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 1px solid #888;
  border-radius: 10px;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar_row {
  padding: 20px;
}

.image_div {
  display: flex;
  justify-content: start;
  padding-left: 195px;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.options {
  display: none;
  position: absolute;
  top: 168%;
  left: 1px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 1;
  border-radius: 10px;
  border: 0.5px solid rgba(122, 119, 137, 0.44);
  background: white;
  width: 115px;
  height: 70px;
  box-shadow: 9px 35px 35px rgba(122, 119, 137, 0.44);
  font-family: Satoshi;
  font-size: 11px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;

  font-weight: 200;
  line-height: 26px;
  padding: 8px;
}

.imageDiv {
  background-image: url('../public/logo.svg');
  background-repeat: no-repeat;
  width: 312px;
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: 100%;
  background-size: 100%;
  margin-left: 37px;

}

.user_logo_div {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding-right: 70px;
  margin-top: 22px;

}

.menu_col {
  display: none;
}

.main_layout_title_row {
  display: flex;
  justify-content: center;
  padding-left: 130px;
  padding-right: 80px;
}



.main_layout_title {
  color: black;
  font-size: 50px;
  margin-left: 205px;
  text-align: center;
  font-style: normal;
  font-family: "Merriweather";
  font-weight: 700;
  line-height: 80px;
  text-transform: capitalize;
  /* display: flex; */
  justify-content: end;
  margin-top: 30px;
  margin-bottom: 40px;

}

.image_upload_row {
  display: flex;
  justify-content: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
}

.image_uploader_main_div {
  background: rgba(255, 255, 255, 1);
  border: 4px dashed #9d22eb;
  border-style: dashed;
  border-spacing: 10px;
  border-width: 3px;
  height: 492px;
  width: 87% !important;
  border-radius: 35px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.image_uploader_main_div_files {
  background: rgba(255, 255, 255, 1);

  border: 3px dashed #9d22eb;
  height: 150px;
  width: 80%;
  border-radius: 35px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image_uploader_div_2 {
  color: black;
  /* font-family: Satoshi; */
  font-size: 30px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-left: 20px;
}

.image_uploader_div_3 {
  color: black;
  font-family: "Satoshi";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cards_row {
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.image_cards_row {
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.add_icon_div {
  margin-bottom: 30px;
}

.btn-primary {
  color: black !important;
  background-color: white !important;
  border: none !important;
  font-family: Satoshi !important;
  font-size: 18px !important;
  font-style: normal !important;
  line-height: 16px !important
}

.User-image {

  background: url('../public/user.svg');
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: 100%;
  background-size: 100%;

}

@media (max-width: 700px) {
  .navbar_row {
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    margin: 42px;
  }

  .image_div {
    position: relative;
    left: -25px;
    padding-left: 0px;
    /* width: 200px; */
  }

  .imageDiv {
    background-image: url('../public/logoreponsive.svg');
    background-repeat: no-repeat;
    width: 312px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: 100%;
    background-size: 100%;

  }



  .user_name {
    display: none;
  }

  .arrow_down {
    display: none;
  }

  .user_logo_div {
    padding-right: 0px;
    margin-top: 22px;
  }

  .menu_col {
    display: block;
  }

  .main_layout_title_row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2px;
    padding-right: 0px;
  }



  .image_upload_row {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
  }

  .image_uploader_main_div {
    border: 4px dashed #9d22eb;
    border-style: dashed;
    background: rgba(255, 255, 255, 1);
    height: 492px;
    border-radius: 15px;
  }

  .image_uploader_main_div_files {
    background: rgba(255, 255, 255, 1);
    border: 3px dashed #9d22eb;
    height: 209px;
    width: 80%;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .image_uploader_div_3 {
    font-size: 14px;
  }

  .cards_row {
    padding-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .image_cards_row {
    padding-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .add_icon_div {
    margin-bottom: 5px;
  }

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#customDropdown {
  background-color: white !important;
  color: black;
  border: none
}

#customDropdown::after {
  content: none !important;
}

/* Style for the custom SVG icon */
.custom-svg-icon {
  width: 20px;
  /* Adjust the icon width */
  height: auto;
  /* Maintain aspect ratio */
}

.dropdown-menu {
  width: 222px !important;
  height: 141px !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
}

.dropdown-menu.show {
  border-radius: 20px !important;
  position: absolute !important;
  left: -107px !important;
  top: 15px !important;
  /* overflow: hidden !important; */
  box-shadow: 9px 35px 35px rgba(122, 119, 137, 0.44);

}


.dropdown-item:hover {
  background-color: transparent !important;

}

.dropdown-item {
  font-weight: 500 !important;
  position: relative;
  top: -38px;
}

.event-item-card {
  border: "1px solid #E7E7E7";
  border-radius: "35px";
  padding: "15px";
  display: "flex";
  flex-direction: "column";
  gap: "10px";
  background: "#FBF7FE";
  margin-top: "20px";
  width: "361px";
  height: "474px"
}

.heading-text {
  background: rgba(245, 236, 252, 0.44);
  padding: 100px;
  position: relative;
  top: -30px;
  left: 10px;
}

/* .br-class:after {
  content: "\a";
  white-space: pre;
} */

@media only screen and (max-width: 767px) {
  .main_layout_title {
    color: black;
    font-size: 18px;
    margin-left: 70px;

    font-family: "Merriweather";
    font-weight: 700;
    line-height: 30px;
    text-transform: capitalize;
    /* justify-content: end;
    margin-top: 30px;
    margin-bottom: 40px; */
  }
}

/* Medium Screens (Tablets): */



@media only screen and (max-width: 430px) {
  .dropdown-menu.show {
    border-radius: 20px !important;
    position: absolute !important;
    left: -40px !important;
    top: 15px !important;
    /* overflow: hidden !important; */
    box-shadow: 9px 35px 35px rgba(122, 119, 137, 0.44);

  }

  .main_layout_title {
    color: black;
    font-size: 18px;
    margin-left: 0;
    text-align: left;
    font-style: normal;
    font-family: "Merriweather";
    font-weight: 700;
    line-height: 30px;
    text-transform: capitalize;
    padding-left: 25px
      /* justify-content: end;
    margin-top: 30px;
    margin-bottom: 40px; */
  }

  .User-image {

    background: url('../public/userresponsive.svg');
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: 100%;
    background-size: 100%;
    border: 1px solid rgba(251, 247, 254, 1);
    background-color: rgba(251, 247, 254, 1);
    border-radius: 20px;
    padding: 8px 8px;

  }

  .image_uploader_div_2 {
    width: 215px;
    height: 22px;
    top: 321px;
    left: 89px;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;


  }

  .image_uploader_main_div {
    background: rgba(255, 255, 255, 1);
    border: 4px dashed #9d22eb;
    border-style: dashed;
    border-spacing: 10px;
    border-width: 3px;
    height: 178px;
    width: 87% !important;
    border-radius: 35px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .user_logo_div {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    padding-right: 70px;
    margin-top: 22px;
    padding-right: 7px;
    margin-top: -1px;

  }

  .navbar_row {
    padding-left: 35px;
    padding-right: 35px;
    align-items: center;
    margin: 20px;
  }

  .heading-text {
    background: rgba(245, 236, 252, 0.44);
    padding: 10px;
    position: relative;
    top: -30px;
    left: 10px;
  }

  .br-class:after {
    content: "\a";
    white-space: pre;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_layout_title {
    color: black;
    font-size: 32px;
    margin-left: 205px;
    text-align: center;
    font-style: normal;
    font-family: "Merriweather";
    font-weight: 700;
    line-height: 80px;
    text-transform: capitalize;
    justify-content: end;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

/* Large Screens (Desktops): */


@media only screen and (min-width: 992px) {
  .main_layout_title {
    color: black;
    font-size: 32px;
    margin-left: 205px;
    text-align: center;
    font-style: normal;
    font-family: "Merriweather";
    font-weight: 700;
    line-height: 80px;
    text-transform: capitalize;
    justify-content: end;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

/* Extra Large Screens (Large Desktops): */


@media only screen and (min-width: 1200px) {
  .main_layout_title {
    color: black;
    font-size: 39px;
    margin-left: 205px;
    text-align: center;
    font-style: normal;
    font-family: "Merriweather";
    font-weight: 700;
    line-height: 80px;
    text-transform: capitalize;
    justify-content: end;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1900px) {
  .main_layout_title {
    color: black;
    font-size: 50px;
    margin-left: 205px;
    text-align: center;
    font-style: normal;
    font-family: "Merriweather";
    font-weight: 700;
    line-height: 80px;
    text-transform: capitalize;
    justify-content: end;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .cards_row {
    padding-top: 60px;
    padding-left: 145px;
    padding-right: 220px;
  }

}