.cardItemCss {
     border: 1px solid #E7E7E7;
     border-radius: 35px;
     padding: 15px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     background: #FBF7FE;
     margin-top: 20px;
     width: 361px;
     height: 474px;
}


.navbarIconBefor {

     position: relative !important;
     top: 3px !important;
     left: 672px !important;
     color: #D2D2D2 !important;
     background-color: white !important;
     z-index: 10000 !important;
}

.navbarIconAfter {
     position: relative !important;
     top: 3px !important;
     left: 672px !important;
     color: #D2D2D2 !important;
     background-color: 'white' !important;
     z-index: 10000 !important;
     visibility: hidden !important;
}


.cardItem_bootom_text {
     border-radius: 49px;
     padding: 20px;
     display: flex;
     justify-content: center;
     font-family: Merriweather;
     font-size: 25px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     transition: background-color 0.3s, color 0.3s;
}

@media only screen and (max-width: 430px) {
     .cardItemCss {
          border: 1px solid #E7E7E7;
          border-radius: 35px;
          padding: 15px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          background: #FBF7FE;
          margin-top: 20px;
          width: 361px;
          height: 474px;
          margin-left: 34px;
          margin-top: 25px;

     }

     .cardItem_bootom_text {
          border-radius: 49px;
          padding: 25px;
          display: flex;
          justify-content: center;
          font-family: Merriweather;
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          transition: background-color 0.3s, color 0.3s;
          margin-top: 50px;
          width: 362px;
          height: 95px;
          position: relative;
          left: -16px
     }
}

@media only screen and (min-width: 1200px) {
     .cardItemCss {
          border: 1px solid #E7E7E7;
          border-radius: 35px;
          padding: 15px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          background: #FBF7FE;
          margin-top: 20px;
          width: 320px;
          height: 474px;

     }

     .cardItem_bootom_text {
          border-radius: 49px;
          padding: 20px;
          display: flex;
          justify-content: center;
          font-family: Merriweather;
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          width: 320px;

          transition: background-color 0.3s, color 0.3s;
          margin-top: 53px;
          position: relative;
          right: 17px;
     }

     .navbarIconBefor {

          position: relative !important;
          top: 3px !important;
          left: 520px !important;
          color: #D2D2D2 !important;
          background-color: white !important;
          z-index: 10000 !important;
     }

     .navbarIconAfter {
          position: relative !important;
          top: 3px !important;
          left: 520px !important;
          color: #D2D2D2 !important;
          background-color: 'white' !important;
          z-index: 10000 !important;
          visibility: hidden !important;
     }

}


@media only screen and (min-width: 1900px) {
     .cardItemCss {
          border: 1px solid #E7E7E7;
          border-radius: 35px;
          padding: 15px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          background: #FBF7FE;
          margin-top: 20px;
          width: 361px;
          height: 474px;
          position: relative;
          left: 70px;
     }

     .cardItem_bootom_text {
          border-radius: 49px;
          padding: 20px;
          display: flex;
          justify-content: center;
          font-family: Merriweather;
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          transition: background-color 0.3s, color 0.3s;
          margin-top: 53px;
          width: 361px;
          position: relative;
          right: 17px;
          height: 100px;
     }

     .navbarIconBefor {

          position: relative !important;
          top: 3px !important;
          left: 670px !important;
          color: #D2D2D2 !important;
          background-color: white !important;
          z-index: 10000 !important;
     }

     .navbarIconAfter {
          position: relative !important;
          top: 3px !important;
          left: 670px !important;
          color: #D2D2D2 !important;
          background-color: 'white' !important;
          z-index: 10000 !important;
          visibility: hidden !important;
     }
}